#main_attraction.section
  .header
    %b //
    main
    %b{ :style => 'color: crimson;' }> attraction
  #main_image{ :style => "background: url(#{@latest_attraction.img_url});" }
    #caption_bar
    #caption_text
      %div{ :style => 'padding-left: 10px; float: left;' }
        %u= link_to @latest_attraction.title, @latest_attraction, :style => "color: white; font-weight: normal;"
      %div{ :style => 'color: white; float: right; padding-right: 10px;' }
        = 'on ' + @latest_attraction.when.strftime("%m.%d.%y")
  - @attractions.each do |att|
    .article
      %b
        %i
          = link_to att.title, att, :style => 'float: left;'
      %span{ :class => 'article_date' }
        = 'on' + att.when.strftime("%m.%d.%y")
